<div class=" bg-slate-500 backdrop:container mx-auto p-5 grid grid-cols-4 gap-4 h-screen w-full">
  <div class="col-span-1 border-2 rounded-md border-black flex flex-col items-center p-3 overflow-auto ">
    <h2>Список</h2>
    @for (item of taskService.listTasks; track $index) {
    <list [name]="item"></list>
    }
    <button class="mt-auto border-2 border-black px-5 py-2" (click)="clear()">Очистить</button>
  </div>

  <div class="col-span-3 flex items-center flex-col">
    <div class="mb-4">
      <input class="bg-black px-4 py-2 mr-3 text-white" type="text" placeholder="Задачи" [(ngModel)]="newTask">
      <button class="bg-white px-4 py-2" (click)="add(newTask)">Добавить</button>
    </div>
    <ul class="w-full grid grid-cols-4 grid-rows-4 gap-2">
      @for (item of taskService.tasks; track $index) {
      <li class="flex items-center border-2 border-solid border-black px-1 py-2">
        <span class="block mr-2">{{$index+1+"." }}</span>
        <p class="mr-2">{{item}}</p>
        <button class="mr-2" (click)="complete(item)">
          <svg fill="#40C057" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="w-5">
            <path
              d="M 41.9375 8.625 C 41.273438 8.648438 40.664063 9 40.3125 9.5625 L 21.5 38.34375 L 9.3125 27.8125 C 8.789063 27.269531 8.003906 27.066406 7.28125 27.292969 C 6.5625 27.515625 6.027344 28.125 5.902344 28.867188 C 5.777344 29.613281 6.078125 30.363281 6.6875 30.8125 L 20.625 42.875 C 21.0625 43.246094 21.640625 43.410156 22.207031 43.328125 C 22.777344 43.242188 23.28125 42.917969 23.59375 42.4375 L 43.6875 11.75 C 44.117188 11.121094 44.152344 10.308594 43.78125 9.644531 C 43.410156 8.984375 42.695313 8.589844 41.9375 8.625 Z" />
          </svg>
        </button>
        <button (click)="delete($index)">
          <svg class="w-5" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve">
            <polygon style="fill:#E21B1B;" points="404.176,0 256,148.176 107.824,0 0,107.824 148.176,256 0,404.176 107.824,512 256,363.824 
            404.176,512 512,404.176 363.824,256 512,107.824 " />
          </svg>
        </button>
      </li>
      }
    </ul>
  </div>


</div>